.cart-item .cart-item-left{width:120px;float: left;}
input[type=checkbox]{-webkit-appearance: none;appearance: none;border: none;outline: none;background: url(../images/icon_unchosen.png) no-repeat center center;width: 20px;height: 20px;background-size: 100%;vertical-align: middle;}
input[type=checkbox]:checked{background: url(../images/icon_chosen.png) no-repeat center center;border-radius: 50%;background-size: 100%;}
.cart-item .cart-item-left img{width:90px;vertical-align: middle;margin-left:4px;}
.cart-item .cart-item-right{margin-right:-120px;}
.cart-item ul li{overflow: hidden;padding:20px 10px;position: relative;}
.cart-item ul li:after{position: absolute;content: "";left:36px;height:1px;background: #ccc;right:10px;bottom: 0;}
.cart-item .cart-item-right .cart-right-content{margin-right:120px;}
.cart-item .cart-item-right .cart-right-content .cart-item-price{display: inline-block;float: right;line-height: 33px;}
.cart-item .cart-item-right .cart-right-content a p{overflow : hidden;height: 42px;line-height: 21px;}
.settle-content-left{width:60px;float: left;position: relative;z-index: 10;font-size: 14px;color: #666;}
.settle-content-middle{width:100%;margin-right:-60px;float: left;margin-left:-120px;padding-right:10px;}
.settle-content-middle .settle-sum{margin-right:60px;margin-left:120px;text-align:right;}
.settle-content-middle .settle-sum p{color:#000;}
.settle-content-right{width:120px;float: right;text-align: center;background: #ef503a;color:#fff;}
.settle-content{overflow: hidden;height: 50px; line-height: 50px;padding-left: 10px;}
.item-title{padding:20px 10px;border-bottom: 10px solid #eee;}
.item-title .item-delete{float: right;width:20px;}
.item-title .item-delete img{width:100%;}
.settle-container{border-top: 1px solid #eee;position: fixed;width: 100%;bottom: 50px;background: #fff;}
.cartNull{padding:40px 0;text-align: center;}
.cartNull span{display: inline-block;border-radius: 100%;}
.cartNull span img{width:80px;}
.cartCommendTitle{color:#666;text-align: center;font-size: 14px;position: relative;width: 90%;margin: auto;}
.cartCommendTitle span{display: inline-block;background: #fff;z-index: 6;position: relative;padding: 0 10px;}
.cartCommendTitle:after{position: absolute;content: "";width:100%;height: 1px;background: #B5B5B5;left:0;top:10px;}
.cartCommendTitle img{width:18px;vertical-align: middle;margin-right: 4px;}
