.pro-banner .bd ul li img{width:100%;display: block;}
.pro-banner{position: relative;}
.pro-banner .hd{position: absolute;bottom: 0;text-align: center;width: 100%;z-index: 9;}
.pro-banner .hd ul li{font-size: 0;width:6px;height: 6px;background: #fff;border:1px solid #ccc;display: inline-block;margin:6px;border-radius: 50%;}
.pro-banner .hd ul li.on{background: #ccc;}
.pro-content ul img{width:100%;display: block;}
/*.pro-content .hd ul{overflow: hidden;}*/
.pro-content .hd ul li{width:50%;text-align: center;float: left;padding:6px;font-size: 13px;}
.pro-content .hd ul li.on{background: #333;color:#fff;}
.pro-mask{position: fixed;top:0;left:0;right:0;bottom: 0;background: rgba(0,0,0,0.6);z-index: 11;display: none;}
.pro-mask.pro-btn-cart,.pro-mask.pro-btn-buy{display: none;}
.pro-mask-content{width:100%;position: absolute;bottom: 0;background: #fff;z-index: 1000;padding:30px 10px;padding-top:0;}
.pro-bar-tab {
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none;
}

.pro-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.pro-bar-tab .pro-tab-item .mui-icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}
.pro-bar .mui-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pro-bar-tab .pro-tab-item .mui-icon~.mui-tab-label {
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro-bar-tab .pro-tab-item {
    display: table-cell;
    overflow: hidden;width: 1%;height: 50px;text-align: center;vertical-align: middle;white-space: nowrap;text-overflow: ellipsis;color: #929292;}
.cartnum{position: relative;}
.cartnum #cartnum{position: absolute;width:16px;height: 16px;box-sizing: border-box;text-align: center;line-height: 12px;border: 1px solid #ef503a;color:#ef503a;font-size: 12px;border-radius: 100%;right: -12px;top: -4px;background: #fff;}
.pro-item{padding:10px;}
.pro-item>p{color:#444;font-size: 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.pro-item .pro-price span:first-child{color:#ef503a;font-size: 20px;}
.pro-item .pro-price span:nth-child(2){color:#666;font-size: 14px;text-decoration: line-through;}
.pro-brief{margin-top:40px;}
.pro-brief span{margin-right: 10px;color:#999;font-size: 12px;}
.pro-brief span img{width:16px;vertical-align: sub;margin-right: 4px;}
.pro-brief>img{float: right;width:8px;margin-top: 4px;}
.shop-item{border-bottom: 10px solid #eee;border-top: 10px solid #eee;padding:10px;}
.shop-container{overflow: hidden;}
.shop-container>a{float:right;width:90px;display: inline-block;text-align: center;padding:2px 0;border:1px solid #ef503a;border-radius: 4px;font-size: 14px;color:#ef503a;margin-top: 18px;}
.shop-container .shop-img{width:60px;height:60px;float: left;}
.shop-container .shop-img img{width:60px;height:60px;}
.shop-container .shop-middle{width:100%;margin-right:-100px;margin-left:-60px;float: left;}
.shop-container .shop-middle .shop-middle-content{margin-right:100px;margin-left:60px;padding:0 6px}
.shop-container .shop-middle .shop-middle-content p{margin-bottom: 16px;color:#444;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.shop-container .shop-middle .shop-middle-content img{width:58px;}
.product-pull{text-align: center;padding:20px;border-bottom: 10px solid #eee;}
.product-pull p{font-size: 12px;}
.product-pull img{width: 22px;}
/*.pro-content{display: none;}*/
.pro-icon .pro-icon-back,.pro-icon .pro-icon-tel,.pro-icon .pro-icon-cart{position: fixed;top:10px;z-index: 20;}
.pro-icon .pro-icon-back img,.pro-icon .pro-icon-tel img,.pro-icon .pro-icon-cart img{width:36px;}
.pro-icon .pro-icon-back{left:10px;}
.pro-icon .pro-icon-tel{right:56px;}
.pro-icon .pro-icon-cart{right: 10px;}
.pro-mask-content img{width:80px;float: left;}
.pro-mask-content .pro-title-right{width:100%;float: left;margin-right: -80px;padding-left: 10px;margin-top: 30px;}
.pro-mask-content .pro-title-content{margin-right: 80px;}
.pro-body-item label{font-size: 14px;color: #666;}
.pro-body-item{padding:14px 10px;border-bottom: 1px solid #eee;}
.pro-body-item .pro-spec-item{display: inline-block;float: right;}
.pro-body-item .pro-spec-item span{display: inline-block;border:1px solid #ccc;border-radius: 4px;padding:2px 14px;font-size: 14px;color: #444;margin:0 4px;}
.pro-body-item .pro-spec-item span.spec-active{color:#ef503a;border-color: #ef503a;}
.pro-body-item .mui-numbox{float: right;margin-top:-6px;}
.pro-mask-title{overflow: hidden;padding: 10px;border-bottom: 1px solid #eee;position: relative;padding-top:30px;}
.pro-mask-title .pro-close{position: absolute;right: 10px;top:10px;display: inline-block;font-size: 30px;color: #666;}
.pro-btn button{border: 1px solid #ef503a;width:100%;color: #ef503a;padding: 10px;font-size: 16px;}
.pro-btn{padding:10px;margin-top:20px;}
.pro-title-item{color: #ef503a;}
#leftTabBox .hd.hdactive{position: fixed;top:0;width:100%;z-index: 1000;background: #fff;box-sizing: border-box;}
#leftTabBox .bd ul.bdactive{padding-top: 50px;}
.propic table th{width:100px;text-align: left;display: inline-block;color:#666;padding: 10px;font-weight: 400;}
.propic table tr{border-bottom: 1px solid #eee;}
.propic table{width:100%;font-size: 14px;border-collapse: collapse;border-spacing: 0;}
.tabBox .hd{background: rgba(255,255,255,0.9);padding:20px;}
.tabBox .hd ul{border-radius: 4px;border: 1px solid #333;}
/*服务保障*/
.servicemask{position: fixed;background: rgba(0,0,0,0.6);top:0;bottom: 0;width: 100%;z-index: 999;display: none;}
.service{position: absolute;bottom: 0;width: 100%;background: #fff;}
.servicecontent{padding:10px;position: relative;}
.servicecontent .serviceclose{position: absolute;right: 14px;top: 6px;font-size: 24px;display: inline-block;padding: 6px;color: #666;}
.servicecontent h1{text-align: center;padding:20px 0;border-bottom: 1px solid #dcdcdc;font-size: 18px;margin-bottom: 20px;}
.servicecontent ul li div img{width: 24px;margin-right: 10px;vertical-align: middle;}
.servicecontent ul li p{padding-left: 34px;color:#666;margin-top: 6px;margin-bottom: 20px;}